/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.sec__inner {
    width: 100%;
}
/* icons */

.icon {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
}
.nav--icon {
    color: #b9b9b9;
    font-size: 20px;
}
/* ==========================================================================
   Side menu
   ========================================================================== */

.sec--menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    z-index: 999;
    background: #303030;
}
.menu-list {
    margin: 0;
    padding: 0;
}
.menu-list__item {
    display: block;
    margin-bottom: 2px;
}
.menu-list__item:last-child {
    padding-bottom: 77px;
}
.menu-list__item img {
    width: 28px;
    height: 28px;
}
.badge {
    float: right;
    margin: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50%;
    background: #ea4c88;
}
.search-form {
    position: relative;
    padding: 5px 10px 10px 10px;
    background: #353535;
}
.search-btn {
    position: absolute;
    top: 8px;
    margin-left: 6px;
    border: none;
    outline: none;
    color: #8f8f8f;
    background: transparent;
}
.search-input {
    width: 206px;
    height: 27px;
    padding-left: 40px;
    border: none;
    background: #f8f8f8;
    color: #303030;
    font-weight: 300;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}
.link-default {
    display: block;
    width: 255px;
    padding: 10px;
    color: #b9b9b9;
    background: #353535;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}
.link-default:hover {
    color: #fff;
    background: #ea4c88;
    transition: all 0.5s ease-in;
}
.link-default:hover .badge {
    color: #ea4c88;
    background: #fff;
    transition: all 0.5s ease-in;
}
.link-default:hover .icon {
    color: #fff;
    transition: all 0.5s ease-in;
}
.clearfix {
    clear: both;
    display: block;
    height: 10px;
}
.link-default .nav--icon + .label {
    padding-left: 10px;
}
.link-default img + .label {
    padding-left: 10px;
}
/* ==========================================================================
   Content
   ========================================================================== */

.sec--content {
    background: #f8f8f8;
    color: #373737;
}
/* home */

.sec--header {
    position: relative;
    height: 45px;
    background: #ea4c88;
}
.tab-header {
    margin: 0;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.btn-header {
    position: absolute;
    top: 6px;
    border: 0;
    color: #fff;
    background: transparent;
}
.btn-header:hover {
    outline: 0;
}
.btn-header .icon {
    font-size: 20px;
    font-weight: 300;
}
.btn-header--left {
    left: 13px;
}
.btn-header--right {
    right: 13px;
}
/* submenu */

.submenu-list {
    margin: 22px 10px;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
.submenu-list__item {
    display: inline-block;
    margin-right: 27px;
}
.submenu-list__item:last-child {
    margin-right: 0;
}
.submenu-list__item a {
    color: #373737;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}
.item--current a {
    font-weight: 500;
}
/* dlaczego nie działa strzałka??? */

.item--curent:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #000 transparent transparent transparent;
}
/* main */

.sec--main {
    background: #f8f8f8;
}
.sec--main .sec__inner {} .apps-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    border-top: 3px solid #ccc;
}
.apps-list:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.apps-list__item img {
    float: left;
    width: 50%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}